body{
    background:#eef2f7;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.card{
    border:none;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(94, 87, 87, 0.08);
}

.card-header{
    border-radius:16px 16px 0 0!important;
}

.form-control{
    border-radius:10px;
    transition:.2s;
}

.form-control:focus{
    border-color:#1b492a;
    box-shadow:0 0 0 .2rem rgba(13,110,253,.15);
}

.btn{
    border-radius:10px;
}

.table{
    margin-bottom:0;
}

.table tbody tr{
    transition:.2s;
}

.table tbody tr:hover{
    background:#f5f9ff;
}

.badge{
    padding:8px 15px;
    border-radius:20px;
}

i{
    margin-right:5px;
}