body{
    background:#f4f6f9;
}

.card{
    border:none;
    border-radius:12px;
}

.card-header{
    font-weight:bold;
}

.btn{
    border-radius:8px;
}

.table td,
.table th{
    vertical-align:middle;
}

h2,h4{
    margin:0;
}